body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

:root {
  --RibbonHeight: 48px;
  --HeaderHeight: 48px;

  --HeaderSize: 18px;
  --HeaderWeight: 600;

  --LargeSize: 18px;
  --SmallSize: 14px;

  --TextColor: #eeeeee;
  --LightColor: #36393f;
  --MediumColor: #2f3136;
  --DarkColor: #202225;
  --ButtonColor: #40444B;
  --HighlightColor: #7289da;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--LightColor);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ButtonColor);
}

* {
  outline: none;
}